body {
    display: flex;
    justify-content: center;
    height: 110vh;
    font-size: 100%;
    align-items: center;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: gray;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    
  }
  
  .main_box {
    background: #000000d0;
    color: rgb(122, 196, 183);
    padding: 1em;
    border-radius: 35px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
  }
  
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button:hover {
    background: #740e0e6b;
  }
  
  button {
    margin: 0.5em;
    border-radius: 50%;
    background: #2420202b;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    height: 45px;
    width: 45px;
    outline: none;
    color: rgb(255, 255, 255);
    
  }

  
  h1.temperature {
    margin: 0;
    margin-bottom: 0.4em;
  }
  
  input.search-bar {
    border: none;
    outline: none;
    padding: 0.5em 1em;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
    border-radius: 20px;
    background: #7c7c7c2b;
    color: white;
    text-shadow: 2rem;
 
  }
  
  .condition {
    text-transform: capitalize;
    margin-left: 8px;
  }
  
  
  .flex {
    display: flex;
    align-items: center;
  }
  
 
  
  .weather.loading {
    visibility: hidden;
    max-height: 25px;
    position: relative;
  }
  
  .weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: rgb(150, 72, 72);
    position: absolute;
    top: 0;
    left: 20px;
  }